<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="https://clipartart.com/images/at-the-movies-clipart-black-and-white-2.png" alt="">
        </div>
        <div class="col-12">
            <div id="custom-search-input">
                <div class="input-group">
                    <input (keyup.enter)="search(movieTitle)" [(ngModel)]="movieTitle" type="text"
                        class="search-query form-control" placeholder="Search for your favorite movie.." />
                    <span class="input-group-btn">
                        <button type="button" disabled>
                            <span (click)="search(movieTitle)" class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>