<div class="container">
    <div class="row">
        <div class="col mt-4">
            <img [src]="movieObj.poster_path">
        </div>
        <div class="col mt-2">
            <h3 class="text-center text-warning text-uppercase">{{movieObj.original_title}}
                ({{movieObj.release_date | date:'yyyy'}})</h3>
            <div class="row">
                <button *ngIf="!addedToFav" class="btn btn-sm btn-success" (click)="addToFavorites()">Add to
                    favorites</button>
                <button *ngIf="addedToFav" class="btn btn-sm btn-danger" (click)="removeFromFavorites()">Remove from
                    favorites</button>
                <ul class="text-white inline-block" *ngFor="let item of movieObj.genres">
                    <li class="mt-2">{{item.name}}</li>
                </ul>
            </div>
            <br>
            <p class="font-italic">{{movieObj.tagline}}</p>
            <h5 class="text-white">Overview</h5>
            <p class="text-secondary">{{movieObj.overview}}</p>
        </div>
    </div>
</div>